run = "gcc C-DynamicAllocation/mainFile.c C-Recursion/mainFile.c C-Structure/mainFile.c C-Vetores-matrizes/mainFile.c C-String/mainFile.c C-Recursion/Fatorial.c C-Recursion/Potencia.c C-Recursion/SerieHarmonica.c C-Recursion/Termial.c C-Recursion/ContagemRegressiva.c C-Recursion/ContagemProgressiva.c C-Recursion/ConversaoBina.c C-Recursion/FuncaoHanoi.c C-Recursion/Par.c C-Recursion/Quonciente.c C-Recursion/Produto.c C-Recursion/Fibonacci.c C-Vetores-matrizes/ConverterBinario.c C-Vetores-matrizes/TemperaturaMedia.c C-Vetores-matrizes/Labirinto.c C-Vetores-matrizes/JogoDaVelha.c C-Vetores-matrizes/OrdenacaoTroca.c C-String/LeituraString.c C-String/ComparacaoString.c C-Structure/StructTypeDef.c C-Structure/TableFunc.c C-Ponteiro/mainFile.c C-Ponteiro/MinMaxSq.c C-Ponteiro/Troca.c C-Ponteiro/Exibir.c C-Ponteiro/Len.c C-Ponteiro/SomaDePonteiro.c C-Ponteiro/ParametroInfinito.c C-Ponteiro/OrdenarTabela.c -o main && ./main"
