run = "gcc C-Recursion/mainFile.c C-Recursion/Fatorial.c C-Recursion/Potencia.c C-Recursion/SerieHarmonica.c C-Recursion/Termial.c C-Recursion/ContagemRegressiva.c C-Recursion/ContagemProgressiva.c -o main && ./main"
